@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Outfit:wght@400;700&display=swap');

:root {
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* Gradient Background */
    --bgup: hsl(252, 100%, 67%);
    --bgdown: hsl(241, 81%, 54%);

    /* Gradient Circle */
    --circleup: hsla(256, 72%, 46%, 1);
    --circledown: hsla(241, 72%, 46%, 0);

    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.container{
    display: flex;
    width: 600px;
    justify-content: center;
    border-radius:20px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}

.left{
    color: #fff;
    width: 50%;
    background:linear-gradient(var(--bgup),var(--bgdown));
    border-radius: 20px;
    padding: 1em;
    text-align: center;
}

.right{
    width: 50%;
    padding: 1em;
}

.left h1{
    font-size: 1em;
    padding: 1em;
    text-align: center;
    color: var(--light-lavender);
}

.score-left{
    padding: 54px;
    width: 74px;
    height: 74px;
    border-radius: 100%;
    background-image: linear-gradient(var(--circleup), var(--circledown));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.big-score{
    color: var(--pale-blue);
    font-weight: bold;
    font-size: 60px;
}

.small-score {
    color: var(--light-lavender);
}

.left-text > h3 {
    margin-top: 1em;
    font-size: 1.4em;
}

.left-text > p {
    font-size: 16px;
    margin: 1em;
    color: var(--light-lavender);
}

.scores {
    margin-top: 1em;
}

.score-title{
    display: flex;
}

.score{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 16px;
    border-radius: 0.5em;
}

.score-title img{
    margin-right: 1em;
}

button{
    margin-top: 20px;
    padding: 15px 20px;
    border: none;
    outline: none;
    color: white;
    width: 100%;
    border-radius: 25px;
    background-color: var(--dark-gray-blue);
    margin-bottom: 15px;
    font-weight: 700;
}

button:hover {
    background-color: hsla(224, 30%, 27%, 0.7);
}

.boldscore{
    color:#222;
    font-weight:bold;
}

.lightscore{
    font-size: 0.8em;
    color: hsla(224, 30%, 27%, 0.3);
}

@media(max-width:760px){
    .left{
        width: 100%;
        padding: 0;
        border-radius: 0px; 
        border-bottom-left-radius:20px;
        border-bottom-right-radius: 20px;
    }
    .right{
        padding: 1em;
        width: 80%;
        margin: 0 auto;
    }
    .left-text{
        padding: 20px;
        text-align: center;
    }
    .container{
        width: 100%;
        flex-direction: column;
        border-radius: 0px;
        overflow: hidden;
        padding: 0;
    }
}